Solutions/CapacityTracking_contents/Workflows/File-Capacities-A461478E-48AF-EE11-A569-000D3A549F24.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftcsa_CapacityDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "df9daab1-6415-4288-b64c-6ccfcf5ea982"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "environmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter environment URL",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Check_Emails": {
          "actions": {
            "Reset_recordCounter": {
              "runAfter": {
                "Reset_skipToken": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5b44cb8b-1f54-47a2-8bcd-3962af8c8c8f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "recordCounter",
                "value": 0
              }
            },
            "Reset_skipToken": {
              "runAfter": {
                "Reset_isDone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f00c1ffe-1798-46c8-af79-2d81984d9ea8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "skipToken",
                "value": "@{string('')}"
              }
            },
            "Reset_isDone": {
              "runAfter": {
                "Emails_Record_Counter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c3ae0cd8-51f9-462e-a315-cc0211c81bbf"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "isDone",
                "value": false
              }
            },
            "Emails_Record_Counter": {
              "runAfter": {
                "Check_If_Needed_to_query_For_more": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19dd88ab-962e-4ac8-8793-52305c8ec26a"
              },
              "type": "Compose",
              "inputs": "@variables('recordCounter')"
            },
            "Emails_First_Query": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5de96170-a00b-4ce2-aeb4-e61e39642c8b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@triggerBody()['text']",
                  "entityName": "emails",
                  "$select": "activityid",
                  "$filter": "(email_activity_mime_attachment/any(o1:(o1/filesize gt 1048576)))",
                  "$expand": "email_activity_mime_attachment($filter=(filesize gt 1048576))"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_If_Needed_to_query_For_more": {
              "actions": {
                "Emails_first_isDone": {
                  "runAfter": {
                    "Emails_first_skiptoken": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d608da72-fe3e-46cc-8410-3654a8469aa1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isDone",
                    "value": false
                  }
                },
                "Emails_first_recordcounter": {
                  "runAfter": {
                    "Emails_first_isDone": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c56f2699-49e2-4b93-9ca4-4f4ade26573c"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "recordCounter",
                    "value": 5000
                  }
                },
                "Do_Until_isDone_or_50k": {
                  "actions": {
                    "Query_For_Emails": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6552e087-118d-4f94-bde8-a30872d303c1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecordsWithOrganization",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "organization": "@triggerBody()['text']",
                          "entityName": "emails",
                          "$select": "activityid",
                          "$filter": "(email_activity_mime_attachment/any(o1:(o1/filesize gt 1048576)))",
                          "$expand": "email_activity_mime_attachment($filter=(filesize gt 1048576))",
                          "$skiptoken": "@if(not(empty(variables('skipToken'))),variables('skipToken'),'')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Check_if_More_Records": {
                      "actions": {
                        "Increment_5K": {
                          "runAfter": {
                            "Set_Emails_Next_Link": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c7f3729a-6492-4a64-9ef4-ed070233415d"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "recordCounter",
                            "value": 5000
                          }
                        },
                        "Check_If_Done_Already": {
                          "actions": {
                            "Set_As_Done": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "d48943f0-1ea5-4270-8883-744c2daa6c30"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "isDone",
                                "value": true
                              }
                            }
                          },
                          "runAfter": {
                            "Increment_5K": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greaterOrEquals": [
                              "@variables('recordCounter')",
                              50000
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0fbe21d9-5da0-4284-a91a-4fe8c2360ca1"
                          },
                          "type": "If"
                        },
                        "Compose_5": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "83405206-3f82-4015-9f26-c435698536e9"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Query_For_Emails')?['body/@odata.nextLink']"
                        },
                        "Emails-Full-NextLink2": {
                          "runAfter": {
                            "Compose_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2bd89801-4830-4109-8e2a-28e02215d9ab"
                          },
                          "type": "Compose",
                          "inputs": "@decodeUriComponent(outputs('Compose_5'))"
                        },
                        "Set_Emails_Next_Link": {
                          "runAfter": {
                            "Emails-Full-NextLink2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5db847ce-5fae-4acb-8f20-92ad73fb2754"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "skipToken",
                            "value": "@{substring(outputs('Emails-Full-NextLink2'), add(indexOf(outputs('Emails-Full-NextLink2'),'$skiptoken='),11), sub(length(outputs('Emails-Full-NextLink2')), add(indexOf(outputs('Emails-Full-NextLink2'),'$skiptoken='), 11)))}"
                          }
                        }
                      },
                      "runAfter": {
                        "Query_For_Emails": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Increment_By_Remaining_Items": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "b35caa82-625d-45bc-953a-f4f83a12eec6"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                              "name": "recordCounter",
                              "value": "@length(outputs('Query_For_Emails')?['body/value'])"
                            }
                          },
                          "Mark_as_done": {
                            "runAfter": {
                              "Increment_By_Remaining_Items": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "f0e357f5-b2de-4a51-9b83-ae9d2b9db358"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "isDone",
                              "value": true
                            }
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Query_For_Emails')?['body/@odata']?['nextLink']",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "9b6ccc2b-c1b0-4463-99d8-7c16bb2ca758"
                      },
                      "type": "If",
                      "description": "TODO: Fix the skip token"
                    }
                  },
                  "runAfter": {
                    "Emails_first_recordcounter": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@or(equals(variables('isDone'), true),greaterOrEquals(variables('recordCounter'), 50000))",
                  "limit": {
                    "count": 7,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "296bd7eb-9ded-432c-b823-6137a933ffc9"
                  },
                  "type": "Until"
                },
                "Emails_first_skiptoken": {
                  "runAfter": {
                    "Emails-Full-NextLink": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "beabdcc5-7284-473e-9493-9879edf37bd0"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "skipToken",
                    "value": "@{substring(outputs('Emails-Full-NextLink'), add(indexOf(outputs('Emails-Full-NextLink'),'$skiptoken='),11), sub(length(outputs('Emails-Full-NextLink')), add(indexOf(outputs('Emails-Full-NextLink'),'$skiptoken='), 11)))}"
                  }
                },
                "Compose_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "53dcf1b3-968c-4ad2-b364-52fd4679b3ae"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Emails_First_Query')?['body/@odata']?['nextLink']"
                },
                "Emails-Full-NextLink": {
                  "runAfter": {
                    "Compose_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f5ce6d90-9966-4e0f-be64-a7c6377fe305"
                  },
                  "type": "Compose",
                  "inputs": "@decodeUriComponent(outputs('Compose_2'))"
                }
              },
              "runAfter": {
                "Emails_First_Query": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Emails_first_skipToken_empty": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6c6aa32f-3e99-4191-a661-726970ab7bb6"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "skipToken",
                      "value": "@{string('')}"
                    }
                  },
                  "Emails_first_isDone_true": {
                    "runAfter": {
                      "Emails_first_skipToken_empty": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "48193b57-48d0-4efc-b0b8-ab4f67b5d79c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "isDone",
                      "value": true
                    }
                  },
                  "Emails_first_recordCount": {
                    "runAfter": {
                      "Emails_first_isDone_true": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "351854a5-049c-4533-9459-c41278a3fac3"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "recordCounter",
                      "value": "@length(outputs('Emails_First_Query')?['body/value'])"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Emails_First_Query')?['body/@odata.nextLink']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "d18514a2-12cb-4435-b104-e98bb6f8af1e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "SubstringSkipToken": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1e7b76e0-4db1-4e28-8a2b-756b48a40748"
          },
          "type": "Scope"
        },
        "Check_Notes": {
          "actions": {
            "Notes_Counter": {
              "runAfter": {
                "Notes_-_check_if_needed_to_query_for_more": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e9f505d4-01c5-470a-86b3-d7a221d8351f"
              },
              "type": "Compose",
              "inputs": "@variables('recordCounter')"
            },
            "Notes_-_Reset_isDone": {
              "runAfter": {
                "Notes_Counter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b163055a-d1dd-4418-8756-8f4de990943d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "isDone",
                "value": false
              }
            },
            "Notes_-_Reset_nextLink": {
              "runAfter": {
                "Notes_-_Reset_isDone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62337090-5e39-4e71-8b4f-ae6867d992b9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "skipToken",
                "value": "@{string('')}"
              }
            },
            "Notes_-_Reset_recordCounter": {
              "runAfter": {
                "Notes_-_Reset_nextLink": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "789690e3-9b55-4ad0-84e6-3a625637282f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "recordCounter",
                "value": 0
              }
            },
            "Notes_First": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b70f52aa-5371-4c68-9585-84f831894be1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@triggerBody()['text']",
                  "entityName": "annotations",
                  "$select": "annotationid",
                  "$filter": "(filesize gt 1048576)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Notes_-_check_if_needed_to_query_for_more": {
              "actions": {
                "Notest_first_isDone": {
                  "runAfter": {
                    "Notest_first_skipToken": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "11a8f18d-bc57-488a-80d0-4e7e8d7a7a6c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isDone",
                    "value": false
                  }
                },
                "Notest_first_recordCounter": {
                  "runAfter": {
                    "Notest_first_isDone": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "305fc7f4-3aad-4a4c-acfa-433a29c18cd3"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "recordCounter",
                    "value": 5000
                  }
                },
                "Notes_-_Do_Until_isDone_or_50k": {
                  "actions": {
                    "Get_Notes": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "70d17e9f-6157-42b9-ba10-e05368289719"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecordsWithOrganization",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "organization": "@triggerBody()['text']",
                          "entityName": "annotations",
                          "$select": "annotationid",
                          "$filter": "(filesize gt 1048576)",
                          "$skiptoken": "@if(not(empty(variables('skipToken'))),variables('skipToken'), '')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Notes_-_Check_If_More_Records": {
                      "actions": {
                        "Notes_Check_If_Done_Querying_50k": {
                          "actions": {
                            "Notes_Set_IsDone": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "12ca5be7-8ee5-4c57-809a-645ef215e02a"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "isDone",
                                "value": true
                              }
                            }
                          },
                          "runAfter": {
                            "Notes_Increment_5k": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greaterOrEquals": [
                              "@variables('recordCounter')",
                              50000
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f1e86b38-25d5-4487-bca5-d7e5265e67b7"
                          },
                          "type": "If"
                        },
                        "Notes_Increment_5k": {
                          "runAfter": {
                            "Set_Notes_Next_Link": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0a0e7188-655a-449f-a7a1-be5d255dda8c"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "recordCounter",
                            "value": 5000
                          }
                        },
                        "Set_Notes_Next_Link": {
                          "runAfter": {
                            "Notes-Full-NextLink2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2c8e5dd4-14fd-4a65-a7a5-f9ff8731e3ca"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "skipToken",
                            "value": "@{substring(outputs('Notes-Full-NextLink2'), add(indexOf(outputs('Notes-Full-NextLink2'),'$skiptoken='),11), sub(length(outputs('Notes-Full-NextLink2')), add(indexOf(outputs('Notes-Full-NextLink2'),'$skiptoken='), 11)))}"
                          }
                        },
                        "Compose_3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "4eeaf58e-86fc-4025-8417-4f74200ccd85"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_Notes')?['body/@odata.nextLink']"
                        },
                        "Notes-Full-NextLink2": {
                          "runAfter": {
                            "Compose_3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d98e51d4-8e48-4cd0-bd15-110a88fea0da"
                          },
                          "type": "Compose",
                          "inputs": "@decodeUriComponent(outputs('Compose_3'))"
                        }
                      },
                      "runAfter": {
                        "Get_Notes": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Notes_Increment_Remaining_Records": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "9597de07-2cd7-43fd-b175-68b232c1f3ee"
                            },
                            "type": "IncrementVariable",
                            "inputs": {
                              "name": "recordCounter",
                              "value": "@length(outputs('Get_Notes')?['body/value'])"
                            }
                          },
                          "Notes_Set_IsDone2": {
                            "runAfter": {
                              "Notes_Increment_Remaining_Records": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "9d1c25e7-97e3-47bb-b826-1e3a42cd396b"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "isDone",
                              "value": true
                            }
                          }
                        }
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_Notes')?['body/@odata']?['nextLink']",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "e2cc1bf6-3cf5-497a-8af5-e7c07538100c"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Notest_first_recordCounter": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@or(equals(variables('isDone'), true),greaterOrEquals(variables('recordCounter'), 50000))",
                  "limit": {
                    "count": 7,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "2eca9c3f-a2f4-4379-8a14-1097f593452c"
                  },
                  "type": "Until"
                },
                "Notest_first_skipToken": {
                  "runAfter": {
                    "Notes-Full-NextLink": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "21219eb5-6278-4097-8ba5-c6069298923a"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "skipToken",
                    "value": "@{substring(outputs('Notes-Full-NextLink'), add(indexOf(outputs('Notes-Full-NextLink'),'$skiptoken='),11), sub(length(outputs('Notes-Full-NextLink')), add(indexOf(outputs('Notes-Full-NextLink'),'$skiptoken='), 11)))}"
                  }
                },
                "Notes-Full-NextLink": {
                  "runAfter": {
                    "Compose_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "900bb585-0ec1-4133-b10c-965a78b9d84b"
                  },
                  "type": "Compose",
                  "inputs": "@decodeUriComponent(outputs('Compose_4'))"
                },
                "Compose_4": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e8024733-fce1-48fc-b8e1-ca305299eb39"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Notes_First')?['body/@odata.nextLink']"
                }
              },
              "runAfter": {
                "Notes_First": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Notest_first_skiptoken_empty": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e486e742-21b6-4693-acba-252de5b1b9cc"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "skipToken",
                      "value": "@{string('')}"
                    }
                  },
                  "Notest_first_isDone_empty": {
                    "runAfter": {
                      "Notest_first_skiptoken_empty": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "10748534-fdc4-4e43-9ecb-94d26ed35533"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "isDone",
                      "value": true
                    }
                  },
                  "Notest_first_recordCounter_empty": {
                    "runAfter": {
                      "Notest_first_isDone_empty": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bfc2332e-4aa0-48fc-af35-926b4078c9c1"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "recordCounter",
                      "value": "@length(outputs('Notes_First')?['body/value'])"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Notes_First')?['body/@odata.nextLink']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "e803891f-8956-4405-9db6-46b48b2ea10e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Check_Emails": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "59e9caa6-049e-47bb-b70d-55b38ae25777"
          },
          "type": "Scope"
        },
        "Check_Customizations": {
          "actions": {},
          "runAfter": {
            "Check_Notes": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6efe7aa-c3fe-4488-843f-25285246e487"
          },
          "type": "Scope"
        },
        "Check_Analytics": {
          "actions": {
            "Get_EntityConfig_Analtyics_Tables": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "799c0e5b-b38c-4278-8fe0-0e585cb24e03"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@triggerBody()['text']",
                  "entityName": "entityanalyticsconfigs",
                  "$select": "parententitylogicalname"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Analytics_Tables": {
              "runAfter": {
                "Get_EntityConfig_Analtyics_Tables": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7f1db971-88b8-46b0-a6eb-f67a4acd53da"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_EntityConfig_Analtyics_Tables')?['body/value']"
            }
          },
          "runAfter": {
            "Check_Customizations": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef602bf6-7419-4a3d-990b-2107f901b413"
          },
          "type": "Scope"
        },
        "Init_-_IsDone_Var": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "46012eb0-0afc-4a81-b9c1-53e4fac4f151"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isDone",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Init_-_Record_Counter": {
          "runAfter": {
            "Init_-_IsDone_Var": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "08240834-0ae7-46bc-b166-25bd93049153"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "recordCounter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Init_-_Skip_Token": {
          "runAfter": {
            "Init_-_Record_Counter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66ed50d6-677b-4fe1-ab02-9df8d63af245"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "skipToken",
                "type": "string"
              }
            ]
          }
        },
        "FullResponse": {
          "runAfter": {
            "Check_Analytics": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "84faedcb-8666-4a66-88bb-282d82e074b1"
          },
          "type": "Compose",
          "inputs": {
            "emailsCount": "@{outputs('Emails_Record_Counter')}",
            "notesCount": "@{outputs('Notes_Counter')}",
            "analyticsTables": "@outputs('Analytics_Tables')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "FullResponse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b4dc20d-f291-45a0-b0a5-64ea5f2de357"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{outputs('FullResponse')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Init_-_Skip_Token": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63bc1255-956e-4524-a97b-62688d968210"
          },
          "type": "Compose",
          "inputs": "https://ralop-salesinsights.crm.dynamics.com/api/data/v9.1.0/annotations?$select=annotationid&$filter=(filesize%20gt%201048576)&$skiptoken=%3Ccookie%20pagenumber=%222%22%20pagingcookie=%22%253ccookie%2520page%253d%25221%2522%253e%253cannotationid%2520last%253d%2522%257bB17D1D24-3FA0-EE11-BE36-6045BD051F1B%257d%2522%2520first%253d%2522%257b7122D476-1FA0-EE11-BE36-6045BD0512E1%257d%2522%2520%252f%253e%253c%252fcookie%253e%22%20istracking=%22False%22%20/%3E"
        },
        "FullString": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "692102a9-158a-4b5d-a475-29d61409fe24"
          },
          "type": "Compose",
          "inputs": "@decodeUriComponent(outputs('Compose'))"
        },
        "SubstringSkipToken": {
          "runAfter": {
            "FullString": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c20f4384-3762-4128-8d9c-4c801036cd9d"
          },
          "type": "Compose",
          "inputs": "@substring(outputs('FullString'), add(indexOf(outputs('FullString'),'$skiptoken='),11), sub(length(outputs('FullString')), add(indexOf(outputs('FullString'),'$skiptoken='), 11)))"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}