Solutions/CapacityTracking_contents/Workflows/LTR-GetAvailableRetentionPolicies-0F92DDC9-26A0-EE11-BE37-000D3A57227A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftcsa_CapacityDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f266522c-1c87-4d8b-9239-215f4dc41ca7"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "environmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter environment url",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "tableName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter the table name",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c399a31-709d-412d-8418-c4b164c44834"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "retentionpolicies": "@{outputs('Compose')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "retentionpolicies": {
                  "title": "retentionPolicies",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_RetentionConfigs_for_the_given_table_in_given_environment": {
          "runAfter": {
            "Init_var_-_views_array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41ee7320-09e9-4312-8fd4-e0724f4ae53b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecordsWithOrganization",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "organization": "@triggerBody()['text']",
              "entityName": "retentionconfigs",
              "$select": "criteria,entitylogicalname,name,nextrun,recurrence,statecode,statuscode,viewid",
              "$filter": "(entitylogicalname eq '@{triggerBody()['text_1']}') and (statecode eq 0)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Init_var_-_views_array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "67aa4959-0436-44da-b6b0-d26aa27130e5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "viewsArray",
                "type": "array"
              }
            ]
          }
        },
        "Go_Through_Each_Retention_Config": {
          "foreach": "@outputs('Get_RetentionConfigs_for_the_given_table_in_given_environment')?['body/value']",
          "actions": {
            "test": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1607f2ca-ac06-4be6-b809-6d75918de573"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItemWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "@triggerBody()['text']",
                  "entityName": "savedqueries",
                  "recordId": "@items('Go_Through_Each_Retention_Config')?['viewid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Append_to_array_variable": {
              "runAfter": {
                "test": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c9fa599-6738-42e7-88bc-1eb2f9cde6ff"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "viewsArray",
                "value": {
                  "retentionConfigId": "@{items('Go_Through_Each_Retention_Config')?['retentionconfigid']}",
                  "state": "@{items('Go_Through_Each_Retention_Config')?['statecode@OData.Community.Display.V1.FormattedValue']}",
                  "statusCode": "@{items('Go_Through_Each_Retention_Config')?['statuscode@OData.Community.Display.V1.FormattedValue']}",
                  "name": "@{items('Go_Through_Each_Retention_Config')?['name']}",
                  "criteria": "@{items('Go_Through_Each_Retention_Config')?['criteria']}",
                  "recurrence": "@{items('Go_Through_Each_Retention_Config')?['recurrence']}",
                  "nextRun": "@{items('Go_Through_Each_Retention_Config')?['nextrun']}",
                  "viewName": "@{body('test')?['name']}",
                  "viewid": "@{body('test')?['savedqueryid']}"
                }
              }
            }
          },
          "runAfter": {
            "Get_RetentionConfigs_for_the_given_table_in_given_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66b961e3-ade3-49e0-94bc-cc17244872bb"
          },
          "type": "Foreach"
        },
        "Compose": {
          "runAfter": {
            "Go_Through_Each_Retention_Config": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0b00695-4c21-4e89-a625-b6d339787a2b"
          },
          "type": "Compose",
          "inputs": "@variables('viewsArray')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}