Solutions/CapacityTracking_contents/Workflows/LTR-GetViewInformation-54E9881A-729F-EE11-BE37-000D3A57227A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftcsa_CapacityDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f4f6c4bd-cc0a-499a-bd41-05c5bc7113e3"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "environmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "url of the environment",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "tableName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter the table name",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows_from_selected_environment_(preview)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c667adcb-69cf-4ea1-890b-3b1a8d3bc36f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecordsWithOrganization",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "organization": "@triggerBody()['text']",
              "entityName": "savedqueries",
              "$select": "componentstate,fetchxml,layoutxml,name,querytype,returnedtypecode,solutionid",
              "$filter": "(returnedtypecode eq '@{triggerBody()['text_1']}')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5f60d7db-3aa7-40a6-a9bb-06bfc97cdd49"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "viewslist": "@{outputs('Compose')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "viewslist": {
                  "title": "viewsList",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows_from_selected_environment_(preview)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a747f150-1e6a-431c-9fed-3a5415c62268"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows_from_selected_environment_(preview)')?['body/value']"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}