Solutions/CapacityTracking_contents/Workflows/LTR-CreateTableRetention-C90E1CF9-789F-EE11-BE37-000D3A549F24.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftcsa_CapacityDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bf44cd8b-7f5b-4fc1-a826-11bb7a2f50e9"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "environmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "enter environment url",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "payloadString",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "payload, a json object in string format",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b687a2cb-f297-45e4-b04a-45feb3b46fe6"
          },
          "type": "Compose",
          "inputs": "@json(triggerBody()['text_1'])"
        },
        "Add_a_new_row_to_selected_environment_(preview)_2": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "909bc7c4-9ca2-4653-9a08-56ed03235fa1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "organization": "@triggerBody()['text']",
              "entityName": "retentionconfigs",
              "item": {
                "uniquename": "@{outputs('Compose')?['uniquename']}",
                "criteria": "@{outputs('Compose')?['criteria']}",
                "entitylogicalname": "@{outputs('Compose')?['entitylogicalname']}",
                "name": "@{outputs('Compose')?['name']}",
                "recurrence": "@{outputs('Compose')?['recurrence']}",
                "retentionconfigid": "@{outputs('Compose')?['retentionconfigid']}",
                "starttime": "@outputs('Compose')?['starttime']",
                "statecode": 0,
                "statuscode": 10,
                "viewid": "@{outputs('Compose')?['viewid']}"
              }
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecordWithOrganization",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a178f66-91c8-45a2-b89b-47251523268b"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "recordid": {
                  "title": "recordId",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "recordid": "@body('Add_a_new_row_to_selected_environment_(preview)_2')?['retentionconfigid']"
            }
          }
        },
        "Compose_1": {
          "runAfter": {
            "Add_a_new_row_to_selected_environment_(preview)_2": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@body('Add_a_new_row_to_selected_environment_(preview)_2')?['retentionconfigid']"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}