Solutions/SharedTenant/CETenantManagementV2_contents/Workflows/CapacityManagement-CreateBulkDeletionJob-30A13B23-969A-EE11-BE37-0022482A4826.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "feadb5e4-47e9-4ec3-a28a-ea34be3ac17f"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "environmentUrl",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "https://ORGANME.crm##.dynamics.com",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "tableName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter tablename",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "criteriaType",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Criteria type (LastXDays, LastXMonths, etc)",
                  "x-ms-content-hint": "TEXT"
                },
                "number": {
                  "title": "criteriaValue",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Number of (days, months, etc) back",
                  "x-ms-content-hint": "NUMBER"
                },
                "text_3": {
                  "title": "recurrence",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter Recurrence days",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "number",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Init_empty_array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6b76fb7b-5047-4cf0-bdde-8c772ea8f0a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emptyArray",
                "type": "array"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Perform_an_unbound_action_in_selected_environment_(preview)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a41d9ce-1b95-42ac-9c79-9eee72ebb9dc"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "message": "completed"
            },
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "title": "message",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Perform_an_unbound_action_in_selected_environment_(preview)": {
          "runAfter": {
            "Init_empty_array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4639833f-8d80-4e03-9800-ba39684d37e9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundActionWithOrganization",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "organization": "@triggerBody()['text']",
              "actionName": "BulkDelete",
              "item": {
                "QuerySet": [
                  {
                    "NoLock": true,
                    "EntityName": "@{triggerBody()['text_1']}",
                    "Criteria": {
                      "Conditions": [
                        {
                          "AttributeName": "createdon",
                          "Operator": "@{triggerBody()['text_2']}",
                          "Values": [
                            {
                              "Value": "@{triggerBody()['number']}",
                              "Type": "System.Int32"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ],
                "JobName": "Bulk Delete From App - Deleting @{triggerBody()['text_1']}",
                "SendEmailNotification": false,
                "ToRecipients": "@variables('emptyArray')",
                "CCRecipients": "@variables('emptyArray')",
                "RecurrencePattern": "@triggerBody()['text_3']",
                "StartDateTime": "@utcNow()",
                "RunNow": false
              }
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "https://philcole.org/post/bulkdelete/"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}