Solutions/SharedTenant/CETenantManagementV2_contents/Workflows/GlobalAdmin-UserWasAddedtoApprovedSvcAccounts-F76FF453-E87F-EE11-8179-0022482A4826.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365groups": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_sharedoffice365groups_b471d"
        },
        "api": {
          "name": "shared_office365groups"
        }
      },
      "shared_azuread": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementAzureAd"
        },
        "api": {
          "name": "shared_azuread"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementO365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_group_member_is_added_or_removed": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body']",
          "metadata": {
            "operationMetadataId": "16c87fa7-d56a-4111-8a03-2933abbf2771"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365groups",
              "operationId": "OnGroupMembershipChange",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
            },
            "parameters": {
              "groupId": "62109e01-54ce-4641-a6e2-59d9dd8226e3"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_user": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e03e5dc0-abbe-41d7-8df2-53c7e9428480"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azuread",
                  "operationId": "GetUser",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread"
                },
                "parameters": {
                  "id": "@triggerOutputs()?['body/id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Get_user": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ec4dc0fe-fa0d-48ea-af0c-3633555b13ea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "ralop@microsoft.com",
                  "emailMessage/Subject": "@{outputs('Get_user')?['body/displayName']} - Was Added to Approved Service Accounts",
                  "emailMessage/Body": "<p>A new user was added to service accounts group</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "",
              ""
            ]
          },
          "metadata": {
            "operationMetadataId": "d484570a-4f74-4c50-bf64-e97de202d6e0"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}