Solutions/SharedTenant/CETenantManagementV2_contents/Workflows/testing1233-3B97353C-E430-F011-8C4D-000D3A9D2057.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_EnvControlSettingsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b105bd06-03e3-493d-b768-33c626ff4195"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "63a2f1b5-b111-46fa-b789-21aa37171046"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msftce_pfecrmonlinerequests",
                  "item/msftce_name": "DEBUG IGNORE",
                  "item/msftce_requesttype": 244244
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c84739d8-72ac-4668-8c33-324a8f26afed"
          },
          "type": "Scope"
        },
        "CatchError": {
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b93075e0-9cbc-4035-a8fb-b64c2e92a08a"
              },
              "type": "Compose",
              "inputs": "@result('Scope')[0]?['outputs']?['body']?['error']?['message']"
            },
            "Terminate": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c5b26a75-5a01-4072-9ab2-aa9cb99d4d3e"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "418",
                  "message": "@{result('Scope')[0]?['outputs']?['body']?['error']?['message']}"
                }
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "8f1eea76-5dd8-4358-9a65-339783cf17d2"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}