Solutions/SharedTenant/CETenantManagementV2_contents/Workflows/WhenaUserIsCreatedInAD-F3C17E4E-4D82-EE11-8179-000D3A1DF766.json
{
  "properties": {
    "connectionReferences": {
      "shared_azuread": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementAzureAd"
        },
        "api": {
          "name": "shared_azuread"
        }
      },
      "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CEMSGraphCustomConnectorRef"
        },
        "api": {
          "name": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
          "logicalName": "msftce_5Fgraph-20api-20custom-20connector"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d25d2e87-102b-41ec-8307-1a4211ffa214"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All"
          },
          "description": "Info on this: https://gotoguy.blog/2020/07/12/subscribing-to-teams-presence-with-graph-api-using-power-platform/"
        }
      },
      "actions": {
        "Initialize_Secret": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "debe6cc4-19e4-414a-9402-dfcbc518be15"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecretClientState",
                "type": "string",
                "value": "GraphExplorerSecretClientState"
              }
            ]
          }
        },
        "Switch": {
          "runAfter": {
            "Initialize_Secret": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case_Text_Plain": {
              "case": "text/plain; charset=utf-8",
              "actions": {
                "Compose_Validation_Token": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "34265cc5-1618-4182-8cc2-15f2073e1aad"
                  },
                  "type": "Compose",
                  "inputs": "@triggerOutputs()['queries']['validationToken']"
                },
                "Response": {
                  "runAfter": {
                    "Compose_Validation_Token": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "52721434-076a-4b8e-80db-df9c3713fa0c"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "text/plain"
                    },
                    "body": "@outputs('Compose_Validation_Token')"
                  }
                }
              }
            },
            "Case_Application_Json": {
              "case": "application/json; charset=utf-8",
              "actions": {
                "Acknowledge_Notification_By_Sending_Accepted_Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1f33afe8-7a72-43de-866e-e44a3f0c2f15"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 202
                  }
                },
                "Compose": {
                  "runAfter": {
                    "Acknowledge_Notification_By_Sending_Accepted_Response": [
                      "Succeeded",
                      "Skipped"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ab2f0aea-ea1b-49f5-85e4-c2d0a7097163"
                  },
                  "type": "Compose",
                  "inputs": "@triggerBody()"
                },
                "Get_user": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c67cae49-c947-40d8-a68a-421a410ae932"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuread",
                      "operationId": "GetUser",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread"
                    },
                    "parameters": {
                      "id": "@first(outputs('Compose')?['value'])?['resourceData/id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "GetPFEUserDetails": {
                  "runAfter": {
                    "Get_user": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "eb275a57-fc10-48c3-86ab-6e3bff102ea0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
                      "operationId": "GetPFEUserDetails",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e"
                    },
                    "parameters": {
                      "userObjectId": "@outputs('Get_user')?['body/id']",
                      "$select": "id,displayName,userPrincipalName,otherMails,createdDateTime",
                      "$expand": "manager($select=id,userPrincipalName)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_User_Created_Info": {
                  "runAfter": {
                    "GetPFEUserDetails": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e5e82a5a-3b70-4ff1-98bb-04a37fd04a5b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
                      "operationId": "Get-User-Creation-Info",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e"
                    },
                    "parameters": {
                      "$filter": "activityDisplayName eq 'Add user' and targetResources/any(r:r/userPrincipalName eq '@{outputs('Get_user')?['body/userPrincipalName']}')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerOutputs()['headers']['Content-Type']",
          "metadata": {
            "operationMetadataId": "d0790775-0958-448c-abda-f37496c91991"
          },
          "type": "Switch"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}