Solutions/TenantInventory_contents/Workflows/GraphCustomConnectorAPIWrapper-611BE07A-E074-ED11-81AD-000D3A8B1970.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "PFECRMOnlineFlowListenerURL (bacsa_PFECRMOnlineFlowListenerURL)": {
          "defaultValue": "https://prod-165.westus.logic.azure.com:443/workflows/317d63f343bc4a849a4bdd532908f630/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=x8CRx9jNK3dv4wmWNMMWmb5xciCSjeQ3R7xepkenr2U",
          "type": "String",
          "metadata": {
            "schemaName": "bacsa_PFECRMOnlineFlowListenerURL",
            "description": "The URL that triggers in PFECRMOnline"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f6297aaa-3d61-4ea9-8e55-327c6116c042"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Action",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter Valid Action",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Parameters",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter Parameters In JSON String Format",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Parameters_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7e4a40f8-3cda-432b-b5eb-78d2432d60ac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "parametersJSON",
                "type": "object",
                "value": "@json(triggerBody()['text_1'])"
              }
            ]
          }
        },
        "Target_Flow_URL": {
          "runAfter": {
            "Parameters_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e180cac-0dbf-45e3-bfed-55551b7b8079"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "pfecrmonlineTargetFlowURL",
                "type": "string",
                "value": "@parameters('PFECRMOnlineFlowListenerURL (bacsa_PFECRMOnlineFlowListenerURL)')"
              }
            ]
          }
        },
        "Send_Request": {
          "runAfter": {
            "Target_Flow_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c965961-f7d1-4858-a57b-a5365358fa18"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@variables('pfecrmonlineTargetFlowURL')",
            "body": {
              "Operation": "@triggerBody()['text']",
              "Parameters": "@json(triggerBody()['text_1'])"
            },
            "retryPolicy": {
              "type": "none"
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Send_Request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df328b53-aa49-4322-90a1-17f9ffca5027"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{body('Send_Request')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}