Solutions/CETenantManagementV2_contents/Workflows/Button-InvokeanHTTPrequest2-78E24EA1-ED7F-EE11-8179-0022482A4826.json
{
  "properties": {
    "connectionReferences": {
      "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CEMSGraphCustomConnectorRef"
        },
        "api": {
          "name": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
          "logicalName": "msftce_5Fgraph-20api-20custom-20connector"
        }
      },
      "shared_azuread": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementAzureAd"
        },
        "api": {
          "name": "shared_azuread"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6e4b5d8f-9db1-419a-97a6-febaffdd1dad"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f8b56b6d-2525-46e1-82cf-b648b241f072"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isComplete",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Do_until": {
          "actions": {
            "GetRoleAssignmentOfUser": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c3906b3d-39aa-4cf7-91bb-ceefe5f33ccb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
                  "operationId": "GetRoleAssignmentOfUser",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e"
                },
                "parameters": {
                  "$filter": "roleDefinitionId eq '62e90394-69f5-4237-9190-012177145e10'",
                  "$skipToken": "@variables('skipToken')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Each_Princiapl_Id": {
              "foreach": "@outputs('GetRoleAssignmentOfUser')?['body/value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "abecb97f-4dc2-48fb-9fd7-64a5b4722f89"
                  },
                  "type": "Compose",
                  "inputs": "@item()?['principalId']"
                },
                "Get_user": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "490902dc-d9e2-4f1f-a90d-b88c76dac3a0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_azuread",
                      "operationId": "GetUser",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azuread"
                    },
                    "parameters": {
                      "id": "@items('Get_Each_Princiapl_Id')?['principalId']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "GetRoleAssignmentOfUser": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "82ee0c3e-a5f0-40bc-ba10-b3397b1bdcf8"
              },
              "type": "Foreach"
            },
            "If_It_Contains_Next_Link": {
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b03f9cc5-3667-452c-a391-7f581b27c3a7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "skipToken",
                    "value": "@{outputs('GetRoleAssignmentOfUser')?['body/@odata.nextLink']}"
                  }
                }
              },
              "runAfter": {
                "Get_Each_Princiapl_Id": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8e4de061-296e-45c0-81e4-ef14c554ca13"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "isComplete",
                      "value": "@true"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@contains(outputs('GetRoleAssignmentOfUser')?['body'],'@odata.nextLink')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "83ae50d2-fbb2-4bbe-9bfd-5dd0c45fdb58"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('isComplete'), true)",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "805a515a-d19e-4bdf-8660-afdf6c917ab0"
          },
          "type": "Until"
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8208134a-2351-43e6-a137-e74922ad606b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "skipToken",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}