Solutions/CETenantManagementV2_contents/Workflows/UserCreationAudit-D6DE957F-4A83-EE11-8179-000D3A1DF766.json
{
  "properties": {
    "connectionReferences": {
      "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CEMSGraphCustomConnectorRef"
        },
        "api": {
          "name": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
          "logicalName": "msftce_5Fgraph-20api-20custom-20connector"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "msftce_CETenantManagementDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Hour",
            "interval": 2,
            "startTime": "2023-11-15T06:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "8718547b-2d4e-4238-93db-0752dc9ccd15"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_User_Created_Info": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d130154e-5278-40b2-ac5d-bb127d2aa87f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_msftce-5fgraph-20api-20custom-20connector-5fcaf1f3b1e9f2d23e",
              "operationId": "Get-User-Creation-Info",
              "apiId": ""
            },
            "parameters": {
              "$filter": "activityDisplayName eq 'Add user'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_User_Created_Info')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e2c9385c-6341-42b3-a274-7b011d437938"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msftce_useraccountses",
                  "recordId": "@first(item()?['targetResources'])?['id']",
                  "item/msftce_name": "@first(item()?['targetResources'])?['userPrincipalName']",
                  "item/msftce_creatoruseremail": "@item()?['initiatedBy']?['user']?['userPrincipalName']",
                  "item/msftce_creatoruserid": "@item()?['initiatedBy']?['user']?['id']",
                  "item/msftce_userid": "@first(item()?['targetResources'])?['id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_User_Created_Info": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7cef071e-3702-459d-960a-6a0aa5fc8e72"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}